{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
{% include '_partials/_breadcrumb.html.twig'%}

<!-- ============================= About Section Start =========================== -->
<section class="about-three bg-white padding-y-120">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="about-three-thumb">
                    <div class="about-three-thumb__inner">
                        <img  src="{{ asset('assets/images/thumbs/about-three-img.png') }}" alt="">
                        <div class="project-content">
                            <div class="project-content__inner">
                                <h2 class="project-content__number"> 10k+ </h2>
                                <span class="project-content__text font-12">Complete project</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle bg-gray-100"> <span class="text-gradient fw-semibold">About Us</span> </span>
                        <h2 class="section-heading__title">Unlocking the door to your a the new home</h2>
                        <p class="section-heading__desc font-18">Real estate is a lucrative industry that involves the buying selling and renting of properties. It encompasses residential commercial and industrial properties Real estate agents play a crucial role in facilitating real estate</p>
                    </div>
                    <ul class="check-list style-two">
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-semibold">Dream Property Solutions</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-semibold"> Prestige Property Management</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-semibold">Secure Property Partners</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-semibold">Global Real Estate Investments</span>
                        </li>
                    </ul>
                    <div class="about-button">
                        <a href="#" class="btn btn-outline-main bg-white">Learn More <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= About Section End =========================== -->
    
<!-- ======================= Property Type Three Start =========================== -->
<section class="property-type-three padding-b-60">
    <div class="container container-two">
        <div class="section-heading style-left">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Property Type</span> </span>
            <h2 class="section-heading__title">Investing in real estate made it lot easy</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon1.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">Prestige Management</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon2.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">Prime Investments</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon3.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">SmartHouse Agency</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon4.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">Reliable Rentals</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon5.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">Golden Key Properties</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
            <div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img  src="{{ asset('assets/images/icons/ppty-type-icon6.svg') }}" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">Swift Home Sales</h6>
            <p class="property-type-three-item__desc font-18">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
            <a href="{{ path('app_property') }}" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
<!-- ======================= Property Type Three End =========================== -->
<!-- ========================= Team Section Start ============================= -->
<section class="team padding-y-60">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">OuR Professionals</span> </span>
                <h2 class="section-heading__title">Investment and Growth through Real Estate</h2>
            </div>
            <a href="#" class="btn btn-main">Learn More <span class="icon-right"> <i class="fas fa-plus"></i> </span> </a>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 col-xs-6">
    <div class="team-item">
        <div class="team-item__thumb">
            <img  src="{{ asset('assets/images/thumbs/team1.png') }}" alt="" class="cover-img">
        </div>
        <div class="team-item__content flx-between flex-nowrap">
            <div>
                <h6 class="team-item__name mb-1 text-white">Annette Black</h6>
                <span class="team-item__designation font-12 text-white fw-light">President of Sales</span>
            </div>
            <div class="social-share">
                <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                <ul class="social-share-list">
                    <li class="social-share-list__item">
                        <a href="https://www.facebook.com" class="social-share-list__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.twitter.com" class="social-share-list__link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.linkedin.com" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.pinterest.com" class="social-share-list__link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
    <div class="team-item">
        <div class="team-item__thumb">
            <img  src="{{ asset('assets/images/thumbs/team2.png') }}" alt="" class="cover-img">
        </div>
        <div class="team-item__content flx-between flex-nowrap">
            <div>
                <h6 class="team-item__name mb-1 text-white">Savannah Nguyen</h6>
                <span class="team-item__designation font-12 text-white fw-light">Manager of Sales</span>
            </div>
            <div class="social-share">
                <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                <ul class="social-share-list">
                    <li class="social-share-list__item">
                        <a href="https://www.facebook.com" class="social-share-list__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.twitter.com" class="social-share-list__link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.linkedin.com" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.pinterest.com" class="social-share-list__link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
    <div class="team-item">
        <div class="team-item__thumb">
            <img  src="{{ asset('assets/images/thumbs/team3.png') }}" alt="" class="cover-img">
        </div>
        <div class="team-item__content flx-between flex-nowrap">
            <div>
                <h6 class="team-item__name mb-1 text-white">Bessie Cooper</h6>
                <span class="team-item__designation font-12 text-white fw-light">Director of Sales</span>
            </div>
            <div class="social-share">
                <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                <ul class="social-share-list">
                    <li class="social-share-list__item">
                        <a href="https://www.facebook.com" class="social-share-list__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.twitter.com" class="social-share-list__link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.linkedin.com" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.pinterest.com" class="social-share-list__link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
<!-- ========================= Team Section End ============================= -->
{% include '_partials/_newsletter.html.twig'%}

{% endblock %}
