{% extends 'base.html.twig' %}

{% block title %}Blog Classic{% endblock %}

{% block body %}

{% include '_partials/_breadcrumb.html.twig'%}
<!-- ========================= Blog Classic Section Start ======================== -->
<div class="blog-classic padding-y-120">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-8">
                
<div class="blog-item blog-classic-item d-flex">
    <div class="blog-item__thumb d-flex position-relative">
        <a href="{{ path('app_blog_details') }}" class="blog-item__thumb-link">
            <img  src="{{ asset('assets/images/thumbs/blog-classic1.png" class="cover-img') }}" alt="">
        </a>
        <span class="blog-item__date font-12"> 23 DEC</span>
    </div>
    <div class="blog-item__content">
        <ul class="text-list border-0 p-0 flx-align">
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                <a href="#" class="link">By admin</a>
            </li>
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                <a href="#" class="link">Comments (05)</a>
            </li>
        </ul>
        <h5 class="blog-item__title">
            <a href="{{ path('app_blog_details') }}" class="blog-item__title-link"> Your journey to home ownership starts a here the satisfaction </a>
        </h5>
        <p class="blog-item__desc font-18"> Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play </p>
        <a href="{{ path('app_blog_details') }}" class="btn btn-outline-main btn-outline-main-white">Read More
            <span class="icon-right icon"> 
                <i class="fas fa-arrow-right"></i> 
            </span>
            </a>
    </div>
</div>
                
<div class="blog-item blog-classic-item d-flex">
    <div class="blog-item__thumb d-flex position-relative">
        <a href="{{ path('app_blog_details') }}" class="blog-item__thumb-link">
            <img  src="{{ asset('assets/images/thumbs/blog-classic2.png" class="cover-img') }}" alt="">
        </a>
        <span class="blog-item__date font-12"> 30 DEC</span>
    </div>
    <div class="blog-item__content">
        <ul class="text-list border-0 p-0 flx-align">
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                <a href="#" class="link">By admin</a>
            </li>
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                <a href="#" class="link">Comments (07)</a>
            </li>
        </ul>
        <h5 class="blog-item__title">
            <a href="{{ path('app_blog_details') }}" class="blog-item__title-link"> Experience the best in real estate services  a here the  satisfaction </a>
        </h5>
        <p class="blog-item__desc font-18"> Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play </p>
        <a href="{{ path('app_blog_details') }}" class="btn btn-outline-main btn-outline-main-white">Read More
            <span class="icon-right icon"> 
                <i class="fas fa-arrow-right"></i> 
            </span>
            </a>
    </div>
</div>
                
<div class="blog-item blog-classic-item d-flex">
    <div class="blog-item__thumb d-flex position-relative">
        <a href="{{ path('app_blog_details') }}" class="blog-item__thumb-link">
            <img  src="{{ asset('assets/images/thumbs/blog-classic3.png" class="cover-img') }}" alt="">
        </a>
        <span class="blog-item__date font-12"> 16 DEC</span>
    </div>
    <div class="blog-item__content">
        <ul class="text-list border-0 p-0 flx-align">
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                <a href="#" class="link">By admin</a>
            </li>
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                <a href="#" class="link">Comments (02)</a>
            </li>
        </ul>
        <h5 class="blog-item__title">
            <a href="{{ path('app_blog_details') }}" class="blog-item__title-link">  Let us find the perfect property for you Elite Realty Services </a>
        </h5>
        <p class="blog-item__desc font-18"> Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play </p>
        <a href="{{ path('app_blog_details') }}" class="btn btn-outline-main btn-outline-main-white">Read More
            <span class="icon-right icon"> 
                <i class="fas fa-arrow-right"></i> 
            </span>
            </a>
    </div>
</div>
                
<div class="blog-item blog-classic-item d-flex">
    <div class="blog-item__thumb d-flex position-relative">
        <a href="{{ path('app_blog_details') }}" class="blog-item__thumb-link">
            <img  src="{{ asset('assets/images/thumbs/blog-classic1.png" class="cover-img') }}" alt="">
        </a>
        <span class="blog-item__date font-12"> 24 DEC</span>
    </div>
    <div class="blog-item__content">
        <ul class="text-list border-0 p-0 flx-align">
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                <a href="#" class="link">By admin</a>
            </li>
            <li class="text-list__item font-12"> 
                <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                <a href="#" class="link">Comments (10)</a>
            </li>
        </ul>
        <h5 class="blog-item__title">
            <a href="{{ path('app_blog_details') }}" class="blog-item__title-link">  Investing in real estate made easy the door to your new home </a>
        </h5>
        <p class="blog-item__desc font-18"> Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play </p>
        <a href="{{ path('app_blog_details') }}" class="btn btn-outline-main btn-outline-main-white">Read More
            <span class="icon-right icon"> 
                <i class="fas fa-arrow-right"></i> 
            </span>
            </a>
    </div>
</div>
               
                <nav aria-label="Page navigation example">
    <ul class="pagination common-pagination">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
    </ul>
</nav> 
                
            </div>
            <div class="col-lg-4">
                <!-- ============================= Blog Sidebar Start ======================== -->
<div class="common-sidebar-wrapper">
    <div class="common-sidebar p-0">
    <form action="#" autocomplete="off">
        <div class="search-box style-two w-100">
            <input type="text" class="common-input" placeholder="Type here...">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Category </h6>
    <ul class="category-list">
        <li class="category-list__item">
            <a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
                <span class="text">Prime Investments</span>
                <span class="number">(1)</span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
                <span class="text">ProHome Finders</span>
                <span class="number"> (8) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
                <span class="text">SmartHouse Agency</span>
                <span class="number"> (3) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
                <span class="text">Secure Property Partners</span>
                <span class="number"> (5) </span>
            </a>
        </li>
    </ul>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Recent Post </h6>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="{{ path('app_blog_details') }}"> <img  src="{{ asset('assets/images/thumbs/latest-blog1.png" class="cover-img') }}" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="{{ path('app_blog_details') }}">A picture is worth standard and stand us return</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="{{ path('app_blog_details') }}"> <img  src="{{ asset('assets/images/thumbs/latest-blog2.png" class="cover-img') }}" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="{{ path('app_blog_details') }}">Your journ homeownership starts here</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="{{ path('app_blog_details') }}"> <img  src="{{ asset('assets/images/thumbs/latest-blog3.png" class="cover-img') }}" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="{{ path('app_blog_details') }}">Trust us to guide you the a through the process</a>
            </h6>
        </div>
    </div>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Tags </h6>
    <ul class="tag-list">
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">All Project</a>
        </li>
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">Finders</a>
        </li>
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">Home Sales</a>
        </li>
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">Swift</a>
        </li>
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">Reliable Rentals</a>
        </li>
        <li class="tag-list__item">
            <a href="{{ path('app_blog_classic') }}" class="tag-list__link">Living</a>
        </li>
    </ul>
</div>
</div>
<!-- ============================= Blog Sidebar End ======================== -->
            </div>  
        </div>
    </div>
</div>
<!-- ========================= Blog Classic Section End ======================== -->
{% include '_partials/_newsletter.html.twig'%}

{% endblock %}
